.navbar-custom { 
    background-color: white; 
    
} 
.navbar-brand {
    font-family: 'Times New Roman';
    color:white !important;
    background-color: #4baca4 !important;
    padding: 20px;
    margin-left:0px;
    font-weight: bold;
}
.back {
    background-color:#D3D3D3 ;
}


.title {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 20px;
    color: #4baca4;
    font-weight: bold;
    font-size: 28pt;
    padding: 5px;
    font-family: 'Times New Roman';
}

p {
    font-size: 32pt;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
}


.box-set {
    position:relative;
    height: 100%;
    background: #D3D3D3;
  }


.box-1 {
    /* position: relative; */
    top:20px;
    bottom:20px;
    width:250px;
    left:10px;
    height: 100%;
    background-color: white;
}

.box-2 {
    position:relative;
    top:20px;
    bottom:20px;
    width:200px;
    left:30px;
    height:100%;
    background-color: white;
}

.box-data {
    position:relative;
    top:20px;
    width:250px;
    left:10px;
    background-color: white;
}

.box-comparison {
    position:relative;
    top:20px;
    width:1000px;
    left:30px;
    background-color: white;
}

.annotation {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color:black;

}

.smallfigure {
    
    display: block;
    margin-top: 1em;
    margin-bottom:1em;
    margin-left: 8px;
    margin-right: 40px;
    width:150px;
    height:150px;
}

.mediumfigure {
    
    display: block;
    margin-top: 1em;
    margin-bottom:1em;
    margin-left: 8px;
    margin-right: 40px;
    width:250px;
    height:250px;
}

.largefigure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    width:300px;
    height:300px;
    float:left;
}

.figuretitle {
    text-align: center;
    font-size: 16pt;
    font-family:'Times New Roman';
    font-weight: bold;
    color: #4baca4 !important;


}

.box {
    height: 40px;
    /* width: 100px; */
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 30pt;
    background: #4baca4;
    font-weight: bold;
    font-family: 'Times New Roman';
    
  }


@media (max-width:991px){
    
    .navbar-brand {
        font-family: 'Times New Roman';
        color:white !important;
    }

    .navbar-custom { 
        background-color:#4baca4; 
        
    } 





}